article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: 'PT Sans', sans-serif;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: white;
}

.wrapper {
  max-width: 80%;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
}

h1 {
  font-size: 41px;
  font-size: 4.1rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 48px;
  font-size: 4.8rem;
  letter-spacing: 3px;
  text-shadow: 1px solid #ff6666;
  margin: 0;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

header {
  width: 100%;
  color: white;
  background: url(assets/header-herobg.jpg) 75% 100%;
}

nav.fullBleed {
  background: #333333;
  padding: 7px 0;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.flexParent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flexParent > * {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

ul.navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

ul.navigation > * {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

ul.navigation a {
  text-transform: uppercase;
  width: 100%;
  display: inline-block;
  font-size: 13px;
  font-size: 1.3rem;
  padding: 10px 0;
}

ul.navigation a:hover {
  color: #ff6666;
}

ul.navigation li i {
  color: white;
  width: 100%;
  display: inline-block;
  font-size: 13px;
  font-size: 1.3rem;
}

ul.navigation li i:hover {
  color: #ff6666;
}

.border {
  padding-right: 0;
}

div.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

div.hero > * {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 50%;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

div.hero .photo {
  position: relative;
  top: 85px;
  left: 0;
}

div.hero .heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

h2 {
  height: 10%;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 18px;
  font-size: 1.8rem;
}

section.underheader {
  margin-top: 5%;
  background: #f4f4f4;
  padding: 60px 0;
}

div.third {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

div.third > * {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 33.33%;
      -ms-flex: 1 0 33.33%;
          flex: 1 0 33.33%;
  text-align: center;
}

i.first {
  font-size: 48px;
  font-size: 4.8rem;
  color: #ff6666;
}

div.benefits a {
  font-size: 14px;
  font-size: 1.4rem;
  color: #ff6666;
  margin: 25px 0 0;
  padding: 5px;
  display: block;
}

div.benefits a:hover {
  color: black;
}

div.benefits a i.second {
  font-size: 20px;
  font-size: 2rem;
  padding-right: 5px;
}

h3 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  font-size: 1.4rem;
}

div.third p {
  font-size: 14px;
  font-size: 1.4rem;
  color: #999999;
  line-height: 1.5;
}

section.ourtrainers {
  padding: 5% 0 0 0;
  text-align: center;
}

section.ourtrainers img.logo {
  display: block;
  margin: 0 auto;
}

section.ourtrainers h2 {
  text-align: center;
  margin: 2% 0 5% 0;
  font-size: 36px;
  font-size: 3.6rem;
}

section.ourtrainers h2:after {
  content: " ";
  background-color: #333333;
  height: 1px;
  width: 20px;
  display: block;
  margin: 10px auto 0;
}

section.ourtrainers span {
  color: #ff6666;
}

div.fourtrainers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.fourtrainers > * {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 -webkit-calc(25% - 2rem);
      -ms-flex: 1 0 calc(25% - 2rem);
          flex: 1 0 calc(25% - 2rem);
}

div.trainer {
  text-align: center;
  margin-right: 2rem;
  background: #f4f4f4;
}

div.trainer h3 {
  font-size: 20px;
  font-size: 2rem;
  margin-bottom: 7px;
  text-transform: none;
}

div.trainer p {
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 25px;
  color: #646464;
}

div.trainer p:after {
  content: " ";
  background-color: #333333;
  height: 1px;
  width: 20px;
  display: block;
  margin: 7px auto 0;
}

section.loveyogi {
  margin-top: 7%;
  padding: 9% 0;
  background: url(assets/testimonial-bg.jpg) no-repeat;
  text-align: center;
  color: white;
}

h1 {
  font-weight: 100;
  padding: 0 0 3% 0;
}

blockquote {
  line-height: 2;
  font-style: italic;
}

p {
  font-size: 14px;
  font-size: 1.4rem;
}

p.pink {
  margin: 5% 0 0 0;
  color: #ff6666;
}

p.city {
  font-style: italic;
  color: #999999;
  padding-top: 1%;
}

section.blog {
  padding: 5% 0 0 0;
}

section.blog img.logo {
  display: block;
  margin: 0 auto;
}

section.blog h2 {
  text-align: center;
  margin: 2% 0 5% 0;
  font-size: 36px;
  font-size: 3.6rem;
}

section.blog h2:after {
  content: " ";
  background-color: #333333;
  height: 1px;
  width: 20px;
  display: block;
  margin: 10px auto 0;
}

section.blog span.pink {
  color: #ff6666;
}

div.blogposts {
  margin-top: 7%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

div.blogposts > * {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 -webkit-calc(33.33% - 20px);
      -ms-flex: 1 0 calc(33.33% - 20px);
          flex: 1 0 calc(33.33% - 20px);
}

div.iconrel {
  position: relative;
}

div.blogicon {
  background-color: #ff6666;
  width: 15%;
  height: 25%;
  position: absolute;
  bottom: 4px;
  left: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

div.blogicon i {
  font-size: 24px;
  font-size: 2.4rem;
  margin: auto;
  color: white;
}

div.post {
  margin: 0 20px 0 0;
  text-align: left;
}

div.post h5 {
  margin: 15px 0 5px;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 300;
}

div.post p {
  color: #646464;
}

div.post p.date {
  color: #999999;
  margin: 0 0 25px 0;
  font-style: italic;
  font-size: 13px;
  font-size: 1.3rem;
}

div.post p.teaser {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5;
}

div.post a {
  font-size: 14px;
  font-size: 1.4rem;
  color: #262626;
  margin: 25px 0 0;
  padding: 5px;
  display: block;
}

div.post a:hover {
  color: #ff6666;
}

div.post a i.second {
  font-size: 20px;
  font-size: 2rem;
  padding-right: 5px;
}

section.paymentplan {
  background: #f4f4f4;
  margin-top: 5%;
  padding: 5% 0;
}

section.paymentplan h2 {
  text-align: center;
  margin: 2% 0 5% 0;
  font-size: 36px;
  font-size: 3.6rem;
}

section.paymentplan p {
  color: #646464;
  text-align: center;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 200;
}

div.packages {
  margin: 10% 0 5%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
}

div.packages > * {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 21%;
      -ms-flex: 1 0 21%;
          flex: 1 0 21%;
}

div.packages div.package {
  box-shadow: 0 0 15px #999999;
  margin: 1%;
}

div.packages p.classtype {
  color: white;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 20px 0 0 0;
}

div.packages .option3 p.classtype::before {
  content: " ";
  height: 60px;
  width: 100%;
  background-color: #ff6666;
  display: block;
}

div.packages h4 {
  color: white;
  font-size: 18px;
  font-size: 1.8rem;
  margin: 10px 0;
  text-transform: uppercase;
}

div.packages h4:after {
  content: "";
  position: absolute;
  top: 50px;
  left: 0;
  background-color: inherit;
  padding-bottom: 50%;
  width: 57.7%;
  z-index: -1;
}

div.packages p.price {
  color: #646464;
  font-size: 80px;
  font-size: 8rem;
  padding: 10px 0;
  background-color: #f1f1f1;
}

div.packages p.price::before {
  content: "$";
  font-size: 36px;
  font-size: 3.6rem;
  position: relative;
  top: -30px;
}

div.packages ul {
  font-size: 14px;
  font-size: 1.4rem;
  background-color: white;
  color: #646464;
}

div.packages ul li.middle {
  padding: 15px 0;
  border-bottom: 1px solid #f4f4f4;
}

div.packages ul li.paddingtop {
  padding: 25px 0 15px 0;
}

div.packages ul li.paddingbottom {
  padding: 15px 0 25px 0;
  border: 0;
}

div.packages ul a {
  display: inline-block;
  width: 100%;
  padding: 15px 0;
  text-transform: uppercase;
}

div.packages ul a:hover {
  background: #ff6666;
  border: 2px solid black;
  padding: 13px 0;
}

div.option3 ul li.paddingbottom {
  padding-bottom: 72px;
}

.option1 {
  background-color: #8c8c8c;
}

.option1 a {
  background-color: #8c8c8c;
}

.option2 {
  background-color: #5f5f5f;
}

.option2 a {
  background-color: #5f5f5f;
}

.option3 {
  background-color: #ff6666;
  position: relative;
}

.option3 a {
  background-color: #ff6666;
}

.option3 a:hover {
  color: black;
}

.option3 li.paddingbottom {
  padding-bottom: 50px;
}

.expand {
  position: absolute;
  width: 100%;
  height: 110%;
  top: -60px;
}

.option4 {
  background-color: #454545;
  height: 90%;
}

.option4 a {
  background-color: #454545;
}

section.signup {
  background: url(assets/membership-bg.jpg) no-repeat;
  background-size: 100% 100%;
  padding: 5% 0;
}

section.signup p {
  color: white;
  font-size: 18px;
  font-size: 1.8rem;
  text-align: center;
}

section.signup p.largerfont {
  font-size: 30px;
  font-size: 3rem;
  padding: 15px 0 40px 0;
}

section.signup div.button {
  text-align: center;
}

section.signup div.button a {
  display: inline-block;
  padding: 10px 50px;
  background-color: black;
  color: white;
  text-transform: uppercase;
}

section.signup div.button a:hover {
  background: #ff6666;
  border: 2px solid black;
  padding: 8px 48px;
}

footer {
  background: #262626;
  padding: 5% 0 0;
}

div.footersection {
  margin: 2%;
}

div.foot {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

div.foot > * {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 21%;
      -ms-flex: 1 0 21%;
          flex: 1 0 21%;
}

h6 {
  margin: 0;
  text-align: left;
  color: white;
  position: relative;
  font-size: 18px;
  font-size: 1.8rem;
}

h6:after {
  content: " ";
  background-color: white;
  position: absolute;
  height: 1px;
  width: 25px;
  display: block;
  margin: 12px 0 0;
}

h6.twit {
  margin-bottom: 25px;
}

address {
  color: #646464;
  font-style: normal;
  padding-top: 30px;
  text-align: left;
}

address p {
  padding-bottom: 10px;
}

address i {
  padding-right: 20px;
}

address p.pad {
  padding-left: 30px;
}

div.address ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 30px 0;
}

div.address ul li {
  border: white 1px solid;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 1.9;
  margin-right: 7px;
  text-align: center;
}

div.address ul li:hover {
  color: #ff6666;
  background: #ff6666;
}

ul.quicklink {
  text-align: left;
  padding-top: 15px;
  list-style: disc inside;
  color: #646464;
  font-size: 18px;
  font-size: 1.8rem;
}

ul.quicklink li {
  padding: 10px 0;
  border-bottom: dashed 1px #646464;
}

ul.quicklink li a {
  padding: 10px 0;
  color: #646464;
  font-size: 14px;
  font-size: 1.4rem;
}

ul.quicklink li a:hover {
  color: white;
}

div.footersection form {
  padding: 10% 0;
}

div.footersection form input, div.footersection form textarea {
  background-color: #262626;
  color: #646464;
  border: 1px solid #646464;
  width: 100%;
  margin: 1% 0;
  padding: 5%;
}

div.footersection form input:focus, div.footersection form textarea:focus {
  outline-size: 2px;
  outline-color: #ff6666;
}

div.footersection form textarea {
  resize: none;
  width: 100%;
  height: 150px;
}

div.footersection form input[type="submit"] {
  color: white;
  background: #ff6666;
  font-size: 18px;
  font-size: 1.8rem;
  border: 2px solid transparent;
}

div.footersection form input[type="submit"]:hover {
  color: black;
  border: 2px solid black;
}

div.copyright {
  background: black;
  color: #646464;
  padding: 3% 0;
  margin-top: 5%;
  text-align: center;
}

div.fa-bars {
  display: none;
}

.flexplicit {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

@media (max-width: 940px) {
  header {
    height: 90vh;
  }
  div.hero {
    padding-top: 20vh;
  }
  div.trainer {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 41%;
        -ms-flex: 1 0 41%;
            flex: 1 0 41%;
    margin-top: 2%;
  }
  div.packages > * {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 41%;
        -ms-flex: 1 0 41%;
            flex: 1 0 41%;
  }
  div.packages .option3 {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
  }
  div.packages .option3 .paddingbottom {
    padding-bottom: 25px;
  }
  div.foot > * {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 45%;
        -ms-flex: 1 0 45%;
            flex: 1 0 45%;
  }
}

@media (max-width: 767px) {
  div.hero .photo {
    top: 17px;
  }
  .heading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
  }
}

@media (max-width: 519px) {
  header {
    background: url(assets/header-herobg.jpg) 67% 100%;
  }
  div.package.option2 h4 {
    padding-bottom: 23px;
  }
  div.packages {
    padding: 12% 0;
  }
}

@media (max-width: 510px) {
  div.package.option1 h4 {
    padding-bottom: 23px;
  }
}

@media (max-width: 480px) {
  ul.navigation > * {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 20%;
        -ms-flex: 1 0 20%;
            flex: 1 0 20%;
  }
  div.hero {
    display: block;
  }
  div.hero div.photo {
    width: 60%;
    margin: 0 auto;
  }
  div.third {
    display: block;
  }
  div.third div.benefits {
    margin-top: 25px;
  }
  div.blogposts {
    display: block;
  }
  div.blogposts div.post {
    margin-top: 50px;
  }
  div.packages {
    margin-top: 90px;
  }
  div.package.option2 {
    position: relative;
    top: 0px;
  }
  div.package.option2 h4 {
    padding-bottom: 23px;
  }
  ul.navigation {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(230, 230, 230, 0.7);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  ul.navigation > * {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
  ul.navigation li {
    color: black;
  }
  ul.navigation li a {
    color: black;
    font-size: 2.5rem;
  }
  ul.navigation li i {
    color: black;
  }
  div.fa-bars {
    display: inline-block;
    cursor: pointer;
    text-align: right;
  }
  section.loveyogi {
    background-position: 34%;
  }
  section.signup {
    padding: 17% 0;
  }
  section.paymentplan {
    padding: 15% 0;
  }
  div.footersection {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 80%;
        -ms-flex: 1 0 80%;
            flex: 1 0 80%;
    margin-top: 40px;
  }
  div.footersection h6.quick {
    display: none;
  }
  div.footersection ul.quicklink {
    display: none;
  }
}

@media (max-width: 428px) {
  div.packages .option1 ul li.middle, div.packages .option2 ul li.middle {
    padding-bottom: 34px;
  }
  div.hero div.photo {
    top: -38px;
    width: 79%;
  }
  div.hero .heading {
    position: relative;
    top: -20px;
  }
}

@media (max-width: 415px) {
  div.packages p.price {
    font-size: 40px;
    font-size: 4rem;
  }
  div.packages p.price:before {
    font-size: 20px;
    font-size: 2rem;
    top: -23px;
  }
}

@media (max-width: 386px) {
  h1 {
    font-size: 40px;
    font-size: 4rem;
  }
  div.packages .option4 h4 {
    padding-bottom: 23px;
  }
}

@media (max-width: 330px) {
  div.packages p.price {
    font-size: 30px;
    font-size: 3rem;
  }
  div.packages p.price::before {
    font-size: 20px;
    font-size: 2rem;
  }
}
